/*
File Name: grid.css
Date: XX/XX/XX
Programmer: XXX XXX
*/


/*  SECTIONS  */
.section {
    clear: both;
    margin: 0;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 0;
}

.span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, 
.span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, 
.span_11_of_12, .span_12_of_12 {
    width: 100%;
}

/*  GROUPING  */
.group:before, .group:after { 
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}


/*  GO INTO COLUMNS AT 769 PX OR HIGHER */
@media only screen and (min-width: 769px) {

     /*  GRID OF TWELVE  */
    .span_12_of_12 {
        width: 100%;
    }

    .span_11_of_12 {
        width: 91.66%;
    }
    .span_10_of_12 {
        width: 83.33%;
    }

    .span_9_of_12 {
        width: 75%;
    }

    .span_8_of_12 {
        width: 66.66%;
    }

    .span_7_of_12 {
        width: 58.33%;
    }

    .span_6_of_12 {
        width: 50%;
    }

    .span_5_of_12 {
        width: 41.66%;
    }

    .span_4_of_12 {
        width: 33.33%;
    }

    .span_3_of_12 {
        width: 25%;
    }

    .span_2_of_12 {
        width: 16.66%;
    }

    .span_1_of_12 {
        width: 8.333%;
    }

    .col:first-child {
        margin-left: 0;
    }

}