// out: null

// http://www.colourlovers.com/palette/1365391/mexican_fruit

@color1: #541E35;
@color2: #DF5D2E;
@color3: #FFB43E;
@color4: #A4C972;
@color5: #6BB38E;

@lightColor: #FFFFFF;
@darkColor: #000000;