@import 'palette.less';
@import 'fonts.less';
@import 'mixinlibrary.less';

// MOBILE STYLESHEET

body {
    background-color: @lightColor;
    color: @darkColor;
    font-family: @normalFont;
    font-size: 16px;
}

header {
    h1 {
        
    }
}

main {
    padding: 1em;
    h2 {
        
    }
    h3 {
        
    }
    p {
        
    }
}

footer {
    background-color: @color1;
    color: @lightColor;
    padding: 1em;
    a {
        
    }
}

// TABLET STYLESHEET

@media screen and (min-width: 481px) {
    
}

// DESKTOP STYLESHEET

@media screen and (min-width: 1025px) {
    
}
